@model SPS.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Registre-se";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Crie uma nova conta.</h4>
    <hr />
    <h5>Dados Pessoais</h5><br />
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 col-lg-2 control-label" })
            <div class="col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-1 col-lg-1 control-label" })
            <div class="col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.RG, new { @class = "col-md-2 col-lg-2 control-label" })
            <div class="col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.RG, new { @class = "form-control", id = "rgTextBox" })
                @Html.ValidationMessageFor(m => m.RG, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(m => m.CPF, new { @class = "col-md-1 col-lg-1 control-label" })
            <div class="col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.CPF, new { @class = "form-control", id = "cpfTextBox" })
                @Html.ValidationMessageFor(m => m.CPF, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-1 col-lg-1 control-label" })
            <div class="col-md-2 col-lg-2">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", id = "phoneTextBox" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.CEP, new { @class = "col-md-2 col-lg-2 control-label" })
            <div class="col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.CEP, new { @class = "form-control", id = "cepTextBox" })
                @Html.ValidationMessageFor(m => m.CEP, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(m => m.Street, new { @class = "col-md-1 col-lg-1 control-label" })
            <div class="col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.Street, new { @class = "form-control", @readonly = "readonly", id = "streetTextBox" })
                @Html.ValidationMessageFor(m => m.Street, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(m => m.Number, new { @class = "col-md-1 col-lg-1 control-label" })
            <div class="col-md-2 col-lg-2">
                @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Number, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.Complement, new { @class = "col-md-2 col-lg-2 control-label" })
            <div class="col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.Complement, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Complement, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(m => m.City, new { @class = "col-md-1 col-lg-1 control-label" })
            <div class="col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.City, new { @class = "form-control", @readonly = "readonly", id = "cityTextBox" })
                @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(m => m.State, new { @class = "col-md-1 col-lg-1 control-label" })
            <div class="col-md-1 col-lg-1">
                @Html.TextBoxFor(m => m.State, new { @class = "form-control", @readonly = "readonly", id = "stateTextBox" })
                @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <hr />
    <h5>Dados para Acesso</h5><br />
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-lg-2 control-label" })
            <div class="col-md-4 col-lg-4">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "emailTextBox" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-lg-2 control-label" })
            <div class="col-md-4 col-lg-4">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-lg-2 control-label" })
            <div class="col-md-4 col-lg-4">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control required" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			@Html.Label("(*) campos obrigatórios");
		</div>
	</div>

   <!-- Html.ValidationSummary("", new { class = "text-danger" })-->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Registrar-se" />
        </div>
    </div>
}

@section Scripts
{
	<script type="text/javascript" src="@Url.Content("/Scripts/jquery.mask.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("/Scripts/register.js")"></script>
}