@model SPS.Modelo.Models.LocalPasswordModel

<p>
    Você não tem uma senha local para este site. Adicione uma senha local
 para que você possa fazer logon sem um logon externo.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Definir Formulário de Senha</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Definir senha" />
    </fieldset>
}
