@model SPS.Web.Models.GenerateBillingViewModel
@{
    ViewBag.Title = "Vizualize o faturamento do seu estacionamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet">

<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
    <h2>@ViewBag.Title.</h2>

    <h4>Filtre os faturamentos por data</h4>

    <div class="fields" style="margin-left: -3%;">
        @Html.Partial("~/Views/LocalAdmin/_GenerateBillingPartial.cshtml")
    </div>
    
</div>

<div id="billingContainer" class="col-md-12 col-sm-12 col-xs-12 col-lg-12">

</div>

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.mask.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/moment-with-locales.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/validation.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/generateBillingLocalAdmin.js")"></script>
}

