
<link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />

@model SPS.Web.Models.SaveUsageRecordViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    Olá @User.Identity.GetApplicationUser().FirstName,
                </h1>
                <h2>Escolha uma opção abaixo</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <b>Registrar Entrada/Saída</b>
                    </h3>
                </div>
                <div class="panel-body" style="margin-left:3%">
                    @using (Html.BeginForm("SaveRecord", "Client", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(m => m.Tag, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Tag, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Tag, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <button id="searchButton" type="button" class="btn btn-primary">Procurar</button>
                        </div>

                        <div class="form-group add-record-toggle">
                            @Html.LabelFor(m => m.EnterDateTime, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.EnterDateTime, new { @class = "form-control date-time" })
                            @Html.ValidationMessageFor(m => m.EnterDateTime, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group add-record-toggle">
                            @Html.LabelFor(m => m.ExitDateTime, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.ExitDateTime, new { @class = "form-control date-time" })
                            @Html.ValidationMessageFor(m => m.ExitDateTime, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group add-record-toggle">
                            @Html.LabelFor(m => m.TotalHours, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.TotalHours, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.TotalHours, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group add-record-toggle">
                            @Html.LabelFor(m => m.TotalCash, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.TotalCash, new { @class = "form-control decimal" })
                            @Html.ValidationMessageFor(m => m.TotalCash, "", new { @class = "text-danger" })
                        </div>

                        <button type="submit" class="btn btn-primary add-record-toggle" style="margin-left:-2.5%">Realizar Pagamento</button>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <b>Total de Vagas Disponíveis</b>
                            </h3>
                        </div>
                        <div class="panel-body center-text">
                            <span class="numero-de-vagas" data-parking-cnpj="@ViewBag.CurrentParkingCNPJ"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="thumbnail btn-default dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            <img src="~/pictures/Users.png" class="img-responsive" style=" width: 26%;margin-top: 5%;">
                            <div class="caption center-text">
                                <h3><b>Conta</b></h3>
                            </div>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li>@Html.ActionLink("Alterar Dados Pessoais", "Edit")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <b>Vincular Usuário - Tag</b>
                    </h3>
                </div>
                <div class="panel-body" style="margin-left:1%">
                    @Html.Partial("~/Views/Collaborator/_AttachTagPartial.cshtml")
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <b>Vincular Usuário - Placa</b>
                    </h3>
                </div>
                <div class="panel-body" style="margin-left:1%">
                    @Html.Partial("~/Views/Collaborator/_AttachPlatePartial.cshtml")
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="attachResultModal" tabindex="-1" role="dialog" aria-labelledby="attachResultModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="attachResultModalTitle">Vinculação de Tag</h4>
            </div>
            <div class="modal-body">
                <div class="container" id="attachResultModalContainer">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="attachPlateResultModal" tabindex="-1" role="dialog" aria-labelledby="attachResultModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="attachPlateResultModalTitle">Vinculação de Placa</h4>
            </div>
            <div class="modal-body">
                <div class="container" id="attachPlateResultModalContainer">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/updateParkingSpaces.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.mask.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/validation.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/moment-with-locales.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/collaboratorAddRecord.js")"></script>
}
