@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    Olá, @User.Identity.GetApplicationUser().FirstName
                </h1>
                <h2 style="color:#777777; font-size: 23px; line-height: 23.3999996185303px;">Escolha uma opção abaixo</h2>
            </div>
            <div class="row">                
                <div class="col-md-3">
                    <div class="thumbnail btn-default dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            <img src="~/pictures/Balance.png" class="img-responsive img-menu">
                            <div class="caption center-text">
                                <h4><b>Consumo</b></h4>
                            </div>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li>@Html.ActionLink("Histórico de Consumo", "UsageRecords", null, new { @class = "btn-default" })</li>
                            <li><a class="btn-default" href="#">Realizar Pagamento </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail btn-default dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            <img src="~/pictures/Users.png" class="img-responsive img-menu">
                            <div class="caption center-text">
                                <h4><b>Conta</b></h4>
                            </div>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li>@Html.ActionLink("Alterar Dados Pessoais", "Edit", null, new { @class = "btn-default" })</li>
                        </ul>
                    </div>
                </div>
                <!--<div class="col-md-3 ">
                    <div class="thumbnail btn-default dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            <img src="~/pictures/Car.png" class="img-responsive img-menu">
                            <div class="caption center-text">
                                <h4><b>Veículos</b></h4>
                            </div>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a class="btn-default" href="#">Gerenciar Veículos</a></li>
                        </ul>
                    </div>
                </div>-->
                <div class="col-md-3">
                    <div class="thumbnail btn-default dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            <img src="~/pictures/ControlPanel.png" class="img-responsive img-menu">
                            <div class="caption center-text">
                                <h4><b>Estacionamento</b></h4>
                            </div>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li>@Html.ActionLink("Vincular a um estacionamento", "Finder", "Parking", null, new { @class = "btn-default" })</li>
                        </ul>
                    </div>
                </div>                

                <div class="col-md-3">
                    <div class="thumbnail btn-default dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            <img src="~/pictures/ControlPanel.png" class="img-responsive img-menu">
                            <div class="caption center-text">
                                <h4><b>Tag</b></h4>
                            </div>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a id="requestTagLink" class="btn-default">Solicitar nova tag</a></li>
                        </ul>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmRequestModal" tabindex="-1" role="dialog" aria-labelledby="confirmRequestModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="confirmRequestModalTitle">Você realmente deseja solicitar uma nova tag?</h4>
            </div>
            <div class="modal-body">
                Uma solicitação será enviada ao admistrador do estacionamento para análise.
                <br />
                Deseja continuar?
            </div>
            <div class="modal-footer">
                <button id="confirmRequestBtn" type="button" class="btn btn-success" data-dismiss="modal">Sim</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/requestNewTag.js")"></script>
}
